<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialMediaAdiction"
        tools:targetApi="31">
        <activity
            android:name=".ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".AppSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".BuyActivity"
            android:exported="false" />
        <activity
            android:name=".RewardsActivity"
            android:exported="false"
            android:theme="@style/Theme.SocialMediaAdiction" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MoodActivity"
            android:exported="false" />
        <activity
            android:name=".GamificationActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".NightTimeReminderService" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".MoodTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".FocusModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_focus_mode"
            android:theme="@style/Theme.SocialMediaAdiction.Fullscreen" />
        <activity
            android:name=".ComparisonActivity"
            android:exported="false" />
        <activity
            android:name=".InsightsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <service
            android:name=".FocusService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name=".LockedAppActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>